body{
    margin: 0px;
    background-color:#040d21;
}
.header
{
    width: 100%;
    height: 70px;
    
}
.logo
{
    float: left;
    padding-left: 138px;
    padding-top: 22px;
}
.header-navigations
{
    padding-left: 25px;
    padding-top: 27px;
    float: left;
    color: cornsilk;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font: weight 350px;
}
.text-link
{
    text-decoration: none;
}
.search
{
    float: left;
    padding-top: 20px;
    padding-left: 314px;
    
}
.search-form
{
    border-radius: 8px;
    border-width: 1px;
}
.search-form-type
{
    border-radius: 8px;
    border-width: 1px;
    border:1px solid #e1e4e8;
    width: 232px;
    height: 35px;
    font-size: 14px;
    background: none;
    box-shadow: none;  
    padding-left: 15px; 
}
.signupin
{
    padding-top: 20px;
    
}
.signin
{
    padding-left: 25px;
    text-decoration: none;
    font-size: 16px;
    color: cornsilk;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font: weight 350px;
}
.signupbtn
{
    height: 38px;
    width: 72px;
    text-align: center;
    border-radius: 8px;
    border:1px solid #e1e4e8;
    background: none;
}
.signup
{
    text-decoration: none;
    font-size: 14px;
    color: cornsilk;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font: weight 350px;
}